@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Custom CSS Variables */
    --header-height: 4rem;

    --background: #ffffff;
    --foreground: #0b0908;
    --card: #ffffff;
    --card-foreground: #0b0908;
    --popover: #ffffff;
    --popover-foreground: #0b0908;
    --primary: #f97215;
    --primary-foreground: #f9f9f8;
    --secondary: #f5f5f4;
    --secondary-foreground: #1b1917;
    --muted: #f5f5f4;
    --muted-foreground: #78706b;
    --accent: #f5f5f4;
    --accent-foreground: #1b1917;
    --destructive: #ee4444;
    --destructive-foreground: #f9f9f8;
    --border: #e7e4e3;
    --input: #e7e4e3;
    --ring: #f97215;
    --radius: 0.5rem;
    --chart-1: #e76e4f;
    --chart-2: #299d8f;
    --chart-3: #264753;
    --chart-4: #e8c468;
    --chart-5: #f4a361;

    --radius: 0.5rem;
  }

  .dark {
    --background: #0b0908;
    --foreground: #f9f9f8;
    --card: #0b0908;
    --card-foreground: #f9f9f8;
    --popover: #0b0908;
    --popover-foreground: #f9f9f8;
    --primary: #e9570c;
    --primary-foreground: #0b0908;
    --secondary: #292524;
    --secondary-foreground: #f9f9f8;
    --muted: #292524;
    --muted-foreground: #a7a19d;
    --accent: #292524;
    --accent-foreground: #f9f9f8;
    --destructive: #db2626;
    --destructive-foreground: #f9f9f8;
    --border: #292524;
    --input: #292524;
    --ring: #e9570c;
    --chart-1: #2661d8;
    --chart-2: #2db789;
    --chart-3: #e88c30;
    --chart-4: #af56db;
    --chart-5: #e2366f;

    --radius: 0.5rem;
  }

  /* styles.css */
  .collapsibleDropdown {
    overflow: hidden;
  }
  .collapsibleDropdown[data-state='open'] {
    animation: slideDown 200ms ease-out;
  }
  .collapsibleDropdown[data-state='closed'] {
    animation: slideUp 200ms ease-out;
  }

  @keyframes slideDown {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }

  @keyframes slideUp {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }

  * {
    @apply border-border;
  }
  body {
    @apply min-h-svh w-full bg-background text-foreground;
  }
  body > #root {
    @apply h-svh;
  }

  /* Prevent focus zoom on mobile devices */
  @media screen and (max-width: 767px) {
    input,
    select,
    textarea {
      font-size: 16px !important;
    }
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .faded-bottom {
    @apply after:pointer-events-none after:absolute after:bottom-0 after:left-0 after:hidden after:h-32 after:w-full after:bg-[linear-gradient(180deg,_transparent_10%,_hsl(var(--background))_70%)] after:md:block;
  }
}
